// Font-weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

 // Containers
:root { 
  --content-width: 1820px;
  --content-fluid-width: 1700px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --font-family: "Nunito Sans", sans-serif;
  --outline: #e3ebf2;
  --main-color: #181A2A;
  --black: #181A2A;
  --secondary: #B51023;
  --background: #f3f7fd;
  --success: #27c340;
  --error: #e02828;
  --light-gold: #D3BF6D;
  --dark-gold: #856929;
  --disabled: #c5cfdc;
  --tetriary: #abc4e4;
  --gray: #696A75;
  --gray2: #3B3C4A;
  --secondary-color-black: #2b3e73;
  --secondary-text-color-black: #a9aaad;
}
